<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.Mapper.ReplyMapper">

<select id="replySelect" resultType="ReplyVO">
    select reply_no,reply_contents,reply_member
    from reply
    where board_no = #{board_no}
</select>

    <select id="replySelectNo" resultType="ReplyVO">
        select reply_no,reply_contents,reply_member
        from reply
        where reply_no = #{reply_no}
    </select>

    <insert id="replyInsert">
        insert into reply(board_no,reply_contents,reply_member) values(#{board_no},#{reply_contents},#{reply_member})
    </insert>

    <update id="replyModify">
        update reply
        set  reply_contents = #{reply_contents},reply_member = #{reply_member} where reply_no = #{reply_no}
    </update>
    <delete id="replyDelete">
        delete from reply where reply_no = #{reply_no}
    </delete>

    <delete id="AllDelete">
        delete from reply where board_no = #{board_no}
    </delete>

</mapper>
