<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<link  rel="stylesheet" href="/css/list.css">
<body>
<div class="container">
        <h2 class="text-center">게시판목록입니다</h2>

                 <table class="table table-hover table-striped text-center">
                      <thead>
                            <tr>
                                <td>번호 </td>
                                <td>제목 </td>
                                <td>작성자 </td>
                            </tr>
                      </thead>
                     <tbody>
                            <tr th:each="list : ${list}">
                                 <td th:text=" ${list.board_no}"> </td>
                                 <td> <a th:href="@{/board/get(board_no=${list.board_no})}" th:text="${list.board_title}"></a></td>
                                 <td  th:text="${list.board_user}"> </td>
                             </tr>
                    </tbody>
             </table>


    <div class="pageInfo_wrap" >
        <div class="pagination justify-content-center">
<!--            <forEach var=num begin="${pageMaker.startPage}" end="${pageMaker.endPage}">
                <li class="pageInfo_btn"><a href="${num}">${num}</a></li>
            </forEach>-->
            <!-- 이전페이지 버튼 -->
            <ul  th:if="${pageMaker.prev}">
                <li class="page-item"> <a class="page-link" th:href="@{/board/list(pageNum=${pageMaker.startPage}-1)}  ">Previous</a></li>
            </ul>
            <ul class="pagination" th:each ="pageMaker : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                <a class="page-link" th:href="@{/board/list(pageNum=${pageMaker})}" ><li  class="page-item" th:class="pageInfo.li" th:text="${pageMaker}"></li></a>
            </ul>
            <ul th:if="${pageMaker.next}">
               <li  class="page-item"> <a class="page-link" th:href="@{/board/list(pageNum=${pageMaker.endPage}+1)}  ">Next</a></li>
            </ul>
        </div>
    </div>
    <button  class="btn btn-outline-info" onclick="location.href='/board/enroll'">글 작성 </button>
</div>

    <input type="hidden" name="pageNum" value="${pageMaker.cri.pageNum }">
    <input type="hidden" name="amount" value="${pageMaker.cri.amount }">

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>
